@(registerForm: Form[AdminController.RegisterOrganizer])

<!-- Imports -->
@import helper._
@import utils.LangMessages

<!-- Main call -->
@main(LangMessages.get("registerOrganizer.head")) {
<!-- Head -->

} {
<!-- Toplinks -->

} {
<!-- Main -->
<h2>@LangMessages.get("registerOrganizer.head")</h2>

@form(routes.AdminController.register_organizer) {

        @if(registerForm.hasGlobalErrors) {
        <p>
        	<span class="label label-important">
            @registerForm.globalError.message
            </span>
        </p>
        }

        @wflash()

        @inputText(registerForm("firstName"), '_label -> LangMessages.get("register.fields.firstName"))
        @inputText(registerForm("lastName"), '_label -> LangMessages.get("register.fields.lastName"))
        @inputText(registerForm("email"), '_label -> LangMessages.get("register.fields.email"))
        @select(
            field = registerForm("gender"),
        	options = options("MALE" -> LangMessages.get("enum.gender.MALE"), "FEMALE" -> LangMessages.get("enum.gender.FEMALE")),
        	'_default -> LangMessages.get("editProfile.selectGender"),
        	'_label -> LangMessages.get("editProfile.gender"),
        '_error -> registerForm("Language").error.map(_.withMessage(LangMessages.get("editProfile.selectGenderError")))
        )
        
        @select(
            field = registerForm("language"),
        	options = options("ENGLISH" -> LangMessages.get("enum.language.ENGLISH"), "DUTCH" -> LangMessages.get("enum.language.DUTCH"),"FRENCH" -> LangMessages.get("enum.language.FRENCH"),"GERMAN" -> LangMessages.get("enum.language.GERMAN")),
            '_default -> LangMessages.get("editProfile.selectLanguage"),
        	'_label -> LangMessages.get("editProfile.language"),
        	'_error -> registerForm("Language").error.map(_.withMessage(LangMessages.get("editProfile.selectLanguageError")))
        )
        <input class="btn" type="submit" value="@LangMessages.get("common.submit")"/>
}

} {
<!-- Sidebar -->
<li><a href="@routes.ProfilesController.seeProfile">@LangMessages.get("profilePage.profile")</a></li>
}