<div class="container-index">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Welcome to the Belgium Online Voting System. Start by downloading the vote app below!</p>
    <p><%= link_to 'Get the vote app!', '#', class: 'btn btn-lg btn-success' %> <%= link_to 'Watch the guide!', '#', class: 'btn btn-default btn-lg' %></p>
    <p>(We don't actually provide them for our prototype though; the app should be in the Dropbox folder.)</p>
    <p><%= link_to 'Clear database', clear_path, class: 'btn btn-lg btn-danger' %></p>
    <p>(This button actually works; this is only for testing purposes!)</p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Secure</h4>
      <p>Security is our main focus.</p>
    </div>

    <div class="col-lg-6">
      <h4>Anonimity</h4>
      <p>Your vote can never be coupled back to you.</p>
    </div>

    <div class="col-lg-6">
      <h4>Trust</h4>
      <p>Browse the code behind this framework and verify our measures yourself!</p>
    </div>

    <div class="col-lg-6">
      <h4>Integrity</h4>
      <p>Something that people like about to hear about integrity</p>
    </div>
  </div>
</div>

