<!-- Imports -->
@import utils.LangMessages

<!-- Main call -->
@main(LangMessages.get("helpPageTeacher.head")){
<!-- Head -->

<style type=text/css>
    .bold {
    font-weight: bold;
    }
</style>
} {
<!-- Toplinks -->

} {
<!-- Main -->
<div class="span8">
    <div class="well">
        <h2>@LangMessages.get("helpPage.title")</h2>
        <ul>

            <li><div class="bold">@LangMessages.get("helpPageTeacher.addClassHead"):</div> @LangMessages.get("helpPageTeacher.addClass")</li>
            <li><div class="bold">@LangMessages.get("helpPageTeacher.openLocalHead"):</div> @LangMessages.get("helpPageTeacher.openLocal")</li>
            <li><div class="bold">@LangMessages.get("helpPageTeacher.closeLocalHead"):</div> @LangMessages.get("helpPageTeacher.closeLocal")</li>
            <li><div class="bold">@LangMessages.get("helpPageTeacher.viewResultsHead"):</div> @LangMessages.get("helpPageTeacher.viewResults")</li>
            <li><div class="bold">@LangMessages.get("helpPageTeacher.addPupilHead"):</div> @LangMessages.get("helpPageTeacher.addPupil")</li>
            <li><div class="bold">@LangMessages.get("helpPage.generalHead"):</div> @LangMessages.get("helpPage.general")</li>
            <li><div class="bold">@LangMessages.get("helpPage.downloadHead"):</div> @LangMessages.get("helpPage.download")</li>
            <li><div class="bold">@LangMessages.get("helpPage.contactHead"):</div> @LangMessages.get("helpPage.contactAdmin") <a href="mailto:admin@@biber.ugent.be">@LangMessages.get("helpPage.admin")</a> @LangMessages.get("helpPage.oran") <a href="mailto:organizer@@biber.ugent.be">@LangMessages.get("helpPage.organizer")</a>.</li>

        </ul>
    </div>
</div>
} {
<!-- Sidebar -->

<li>
    <a href="@routes.ProfilesController.downloadManual()">@LangMessages.get("profileGeneral.downloadManual")</a>
</li>
}
