@(resetForm: Form[Reset.ResetForm])(token:String)

<!-- Imports -->
@import utils.LangMessages

<!-- Main call -->
@main(LangMessages.get("resetPassword.reset.head")) {
<!-- Head -->

} {
<!-- Toplinks -->
} {
<!-- Main -->
<h1>Reset your password</h1>
@helper.form(routes.Reset.resetPassword(token)) {
	@wflash()
    @if(resetForm.hasGlobalErrors) {
    <p class="error">
        @resetForm.globalError.message()
    </p>
    }
    
    @helper.inputPassword(resetForm("newPassword"), '_label -> LangMessages.get("resetPassword.reset.newPassword"))
    @helper.inputPassword(resetForm("confirmNewPassword"), '_label -> LangMessages.get("resetPassword.reset.confirmNewPassword"))
    <input type="submit" value="@LangMessages.get("common.submit")"/>
}

} {
<!-- Sidebar -->
}