<!-- Imports -->
@import utils.LangMessages

<!-- Main call -->
@main(LangMessages.get("helpPagePupil.head")){
<!-- Head -->

<style type=text/css>
    .bold {
    font-weight: bold;
    }
</style>
} {
<!-- Toplinks -->

} {
<!-- Main -->
<div class="span8">
    <div class="well">
        <h2>@LangMessages.get("helpPage.title")</h2>
        <ul>
            <li><div class="bold">@LangMessages.get("helpPagePupil.registerHead"):</div> @LangMessages.get("helpPagePupil.register")</li>
            <li><div class="bold">@LangMessages.get("helpPagePupil.playUnrestrictedHead"):</div> @LangMessages.get("helpPagePupil.playUnrestricted")</li>
            <li><div class="bold">@LangMessages.get("helpPagePupil.playOfficialHead"):</div> @LangMessages.get("helpPagePupil.playOfficial")</li>
            <li><div class="bold">@LangMessages.get("helpPage.editProfileHead"):</div> @LangMessages.get("helpPage.editProfile")</li>
            <li><div class="bold">@LangMessages.get("helpPagePupil.viewHistoryHead"):</div> @LangMessages.get("helpPagePupil.viewHistory")</li>
            <li><div class="bold">@LangMessages.get("helpPage.downloadHead"):</div> @LangMessages.get("helpPage.download")</li>
            <li><div class="bold">@LangMessages.get("helpPage.contactHead"):</div> @LangMessages.get("helpPage.contactAdmin") <a href="mailto:admin@@biber.ugent.be">@LangMessages.get("helpPage.admin")</a> @LangMessages.get("helpPage.oran") <a href="mailto:organizer@@biber.ugent.be">@LangMessages.get("helpPage.organizer")</a>.</li>
        </ul>
     </div>
</div>
} {
<!-- Sidebar -->

<li>
    <a href="@routes.ProfilesController.downloadManual()">@LangMessages.get("profileGeneral.downloadManual")</a>
</li>
}
